#
# RMNET MAP driver
#

config RMNET_CORE
	tristate "Rmnet Core driver"
	default y 
	select GRO_CELLS
	---help---
	  If you select this, you will enable the RMNET module which is used
	  for handling data in the multiplexing and aggregation protocol (MAP)
	  format in the embedded data path. RMNET devices can be attached to
	  any IP mode physical device.

config RMNET_CTL
	tristate "Rmnet Ctl driver"
	default y
	---help---
	  Enable the RMNET CTL module which is used for handling QMAP commands
	  for flow control purposes.
